.blog a {
    color: #666694;
}

.blog a:hover, .blog a:focus {
    color: #4b4b75;
}

.blog form {
    margin: 0;
}

.side_nav {
    margin: 10px;
}

.add-delete {
    display: flex;
    z-index: 10;
}

.add-delete form {
    margin: 15px;
}

.blog .blog-post {
    padding-top: 50px;
}