.blog a {
    color: #8383c3;
}

.blog a:hover, .blog a:focus {
    color: #6c6cb3;
}

.blog form {
    margin: 0;
}

.side_nav {
    margin: 10px;
}

.add-delete {
    display: flex;
}

.add-delete form {
    margin: 15px;
}