.home {
    max-width: calc(100% - 250px);
}

.image {
    width: 100%;
}

.profile img {
    border-radius: 50%;
}

.profile p {
    color: #8ea5be;
}

.container {
    margin: 20px;
}

.resume {
    height: 100vh;
}

@media screen and (max-width: 699px) {
    .container {
        display: block;
    }
    .home {
        max-width: 100%;
    }  
}