/*general css styling for every page*/
body {
    background: #E6E6FA;
}

footer {
    width: 100%;
    height: 275px;
    background-image:url(../images/networking.png);
    /*    image found on: https://blog.goldenkey.org/2016/10/11/networking-your-way-to-the-top-five-keys-to-success/*/
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
    color: #9f9fde;
}

a:hover, a:focus {
    color: #6c6cb3;
    text-decoration: none;
}

.container {
    flex: 1;
    margin-top: 50px;
}