/*general css styling for every page*/
body {
    background: #E6E6FA;
}

footer {
    width: 100%;
    height: 275px;
    background-image:url(../images/networking.png);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
    color: #800080;
}

a:hover, a:focus {
    color: #800080;
}

.container {
  flex: 1;
}